In [40]:
import pandas as pd
import numpy as np

In [104]:
df = pd.DataFrame(np.array([[1, 2, 3, 4], [1, 2, 6, 4], [7, 8, 9, 4]]),
               columns=['a', 'b', 'c', 'd'])
display(df)
df = df.groupby(['a', 'b'])
aggy = df.max()
display(df.size().reset_index(name='# of merged rows'))
# display(df.groups.values())
# display([value for value in df.groups.values()])
# agg = df.agg(['max', 'count'])
aggy

# display(df.agg(list))
# display(df.apply(list))
# df

   a  b  c  d
0  1  2  3  4
1  1  2  6  4
2  7  8  9  4

   a  b  # of merged rows
0  1  2                 2
1  7  8                 1

     c  d
a b
1 2  6  4
7 8  9  4